---
import "../styles/global.css";
---

<!doctype html>
<html lang="uk" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>ІТЕ - Інститут інформаційних технологій та бізнесу</title>
		<meta
			name="description"
			content="Обирай навчання, яке відповідає викликам майбутнього!"
		/>
	</head>
	<body class="antialiased">
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100%;
		overflow-x: hidden;
	}

	body {
		background: var(--color-layout-bg);
	}
</style>
